doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='style/styless.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', type='slick-1.8.1/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='slick-1.8.1/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='slick-1.8.1/slick/slick-theme.css')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?callback=initMap')
  body
    include pug/header/header.pug
    include pug/main/m.pug
    include pug/footer/footer.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='slick-1.8.1/slick/slick.min.js')
    script(src='js/script.js')