main.main
  .main_doing
    h1.main_doing_title._projectScrollEnd WHAT WE DO
  section.main_info-center
    .main_info-center_duble
      .main_info-center_lp
        img.main_info-center_lp_img(src='img/joel.png', alt='')
      .main_info-center_rp
        h1.main_info-center_rp_h1 ONE WORLD
        h1.main_info-center_rp_h2 TRADE CENTER
        p.main_info-center_rp_p
          | Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
        button.main_info-center_rp_button  MORE DETAILS
        br
        a.main_info-center_rp_New-York(href='#')
          i.fas.fa-map-marker-alt
          |  New York City, United States - 1776 feet
  section.main_info-center.alter
    .main_info-center_duble
      .main_info-center_rp.duble-alter
        h1.main_info-center_rp_h1 ONE WORLD
        h1.main_info-center_rp_h2 TRADE CENTER
        p.main_info-center_rp_p
          | Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
        button.main_info-center_rp_button  MORE DETAILS
        br
        a.main_info-center_rp_New-York(href='#')
          i.fas.fa-map-marker-alt
          |  New York City, United States - 1776 feet
      .main_info-center_lp
        img.main_info-center_lp_img(src='img/ru.png', alt='')
  section._map
